{ config, pkgs, ... }:

{
  networking.wireless.networks = {
    networkSSID.psk = "passwordgoeshere";
  };

  users.users = {
    jane = {
      isNormalUser = true;
      extraGroups = [ "wheel" ];
    };
  };
}
